---
import styles from './styles.scss?inline'
---

<style data-uniq="ordered-list" is:inline set:html={styles}></style>

<div class="stage-scrollarea" data-name="orderedList">
  <section class="ordered-list stage" flyout-zoom=".75">
    <div class="ordered-list__container container">
      <div class="ordered-list__title">
        Discovering talent is where we start
      </div>
      <ol class="ordered-list__list">
        <li class="ordered-list__item">
          <div class="ordered-list__item-index"><span>1</span></div>
          <h3 class="ordered-list__item-title">Signing a new developer under our Management Service.</h3>
          <p class="ordered-list__item-copy">Frontibe does a great job on technical assessments. We invest our time into the best talents, which we know we can effectively promote to another company.</p>
        </li>
        <li class="ordered-list__item">
          <div class="ordered-list__item-index"><span>2</span></div>
          <h3 class="ordered-list__item-title">Company research & negotiations.</h3>
          <p class="ordered-list__item-copy">We’re finding a new role for the developer by matching his skills and ambitions against the job market. When a right company is found we send our proposal and represent the developer in negotiations.</p>
        </li>
        <li class="ordered-list__item">
          <div class="ordered-list__item-index"><span>3</span></div>
          <h3 class="ordered-list__item-title">Paperwork.</h3>
          <p class="ordered-list__item-copy">After settling the agreement we cover all the paperwork for each party so no-one needs to bother about the setup with an extra partner in the middle. We make it easier than hiring solo developers.</p>
        </li>
        <li class="ordered-list__item">
          <div class="ordered-list__item-index"><span>4</span></div>
          <h3 class="ordered-list__item-title">Employee leasing - plug&play.</h3>
          <p class="ordered-list__item-copy">From now on you can treat the developer as a part of your company as you would with a direct hire. We stay behind the dev with our tribe, giving him technical backup, business support and maintaining his productivity and work satisfaction.</p>
        </li>
      </ol>
    </div>
  </section>
</div>

<script type="module" hoist>
  import stageLoader from '../../scripts/stageLoader.js'
  stageLoader('orderedList', {
    desktop: () => import('./desktop.js'),
    mobile: () => ({create(){}, destroy(){}}),
  })
</script>


