.loader-punk {
  top: 28rem;
  width: 100%;
}

.loader-punk .model-loader__container {
  aspect-ratio: 1583/409;
}

.loader-punk .model-loader__frame {
  margin-left: auto;
}

.model-fallback img {
  aspect-ratio: 3000/895;
}
