.flyout-menu {
  font-family: var(--font-tech);
  text-transform: uppercase;

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateY(5rem);
  }

  &__nav-link {
    font-size: 6rem;
    letter-spacing: .4em;
    line-height: 1;

    & + & { margin-top: 4.5rem; }

    &.-small {
      font-size: 3.2rem;
      opacity: .7;
    }
  }

  &__footer {
    display: flex;
    align-items: flex-end;
    margin-top: auto;
    padding-bottom: 8rem;
  }

  &__footer-col {
    width: calc(100% * 4 / 12);

    a:not(.flyout-menu__button) {
      transition: color .3s ease-in-out;
      &:hover {color: rgba(250,250,250,1);}
    }
  }

  &__footer-title {
    font-size: 2rem;
    line-height: 3.2rem;
    height: 3.2rem;
    letter-spacing: 0.4em;
    margin-bottom: 1.8rem;
  }

  &__footer-copy {
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.2em;
    color: rgba(250,250,250,.5);
  }

  &__button {
    width: 100%;
  }

  @media (max-aspect-ratio: 1/1) {
    &__button {
      display: none;
    }

    &__footer {
      flex-direction: column;
      align-items: center;
    }

    &__footer-col {
      text-align: center;
      width: 100%;
      & + & { margin-top: 5rem; }
    }

    &__footer-title {
      font-size: 1.6rem;
    }

    &__footer-copy {
      font-size: 1.2rem;
    }

    &__nav-link {
      font-size: 2.4rem;

      & + & { margin-top: 3rem; }

      &.-small {
        font-size: 1.4rem;
      }
    }
  }
}
