---
import styles from './styles.scss?inline'
---

<style data-uniq="dev-statement" is:inline set:html={styles}></style>

<div class="stage-scrollarea" data-name="dev-statement">
  <section class="dev-statement stage" flyout-zoom=".75">
    <div class="dev-statement__container container">
      <div class="dev-statement__image-wrap">
        <img
          class="dev-statement__image"
          src="/images/karol.webp"
          srcset="/images/karol.webp 515w, /images/karol-small.webp 52w"
          sizes="(max-aspect-ratio: 1/1) 52px, 515px"
          alt=""
          loading="lazy"
          decoding="async"
        >
      </div>
      <div class="dev-statement__title">They've pushed me out of my comfort zone into new opportunities. </div>
      <div class="dev-statement__desc">I've been working with Frontribe for 2 years and can definitely say that my career is on track since then. If you have the right skills and outperform your colleagues or feel you're wasting time at your current company - you need to give it a shot.</div>
      <div class="dev-statement__caption">
        <div class="dev-statement__caption-overlay"></div>
        Karol Jurczyk <span class="hidden-mobile">@</span><br class="show-mobile"> Digital Surgens
      </div>
    </div>
  </section>
</div>

<script type="module" hoist>
  import stageLoader from '../../scripts/stageLoader.js'
  stageLoader('dev-statement', {
    desktop: () => import('./desktop.js'),
    mobile: () => ({ create(){}, destroy(){} }),
  })
</script>
